name: Update gist with WakaTime stats
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 4426126b0d54f80900cb5aac8e52e0ec
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
